In [5]:
file_path = '/Volumes/EXTERNALHDD/traces_disk_2/final_data_files/data_1.parquet'

In [6]:
import pandas as pd

edges_df = pd.read_parquet(file_path)

In [7]:
edges_df

             u      i      ts      idx   rt    0    1    2    3    4
3797497  17684  18738   60000  3797498  1.0  0.0  0.0  1.0  0.0  0.0
3797498  35482  19355   60000  3797499  0.0  0.0  0.0  0.0  0.0  1.0
3797499  18679  59226   60000  3797500  1.0  0.0  0.0  1.0  0.0  0.0
3797500  33545  14046   60000  3797501  0.0  0.0  0.0  1.0  0.0  0.0
3797501    969  17869   60000  3797502  0.0  1.0  0.0  0.0  0.0  0.0
...        ...    ...     ...      ...  ...  ...  ...  ...  ...  ...
7393462  10077  35136  119999  7393463  0.0  0.0  0.0  1.0  0.0  0.0
7393463  44631  44354  119999  7393464  1.0  0.0  0.0  0.0  0.0  1.0
7393464  37176  37400  119999  7393465  1.0  0.0  0.0  1.0  0.0  0.0
7393465  37106  22350  119999  7393466  0.0  1.0  0.0  0.0  0.0  0.0
7393466  37106  17869  119999  7393467  0.0  1.0  0.0  0.0  0.0  0.0

[3595970 rows x 10 columns]

In [9]:
edges_list = list(zip(edges_df['u'], edges_df['i'], edges_df['ts']))

In [8]:
from temporal_random_walk import TemporalRandomWalk

temporal_random_walk = TemporalRandomWalk(is_directed=True, use_gpu=False)

In [10]:
from raphtory import Graph
g = Graph()

In [13]:
g.load_edges_from_pandas(
    df=edges_df,
    time="ts",
    src="u",
    dst="i"
)

HBox(children=(HTML(value=''), IntProgress(value=0, max=3595970), HTML(value='')))

In [14]:
temporal_random_walk.add_multiple_edges(edges_list)